<form id="editForm" method="POST" action="/user/user" name="editForm" class="needs-validation" novalidate>
    <input type="hidden" name="iduser" th:value="${user.iduser}"/>
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="firstName" class="form-label">Edit First Name: </label>
                <input type="text" name="firstName" class="form-control" id="firstName" placeholder="Edit first name"
                       th:value="${user.firstName}">
            </div>
            <div class="mb-3">
                <label for="editLastName" class="form-label">Edit Last Name: </label>
                <input type="text" name="lastName" class="form-control" id="editLastName"
                       placeholder="Edit last name" th:value="${user.lastName}">
            </div>
            <div class="mb-3">
                <label for="editUsername" class="form-label">Edit Username: </label>
                <input name="username" class="form-control"
                       id="editUsername" placeholder="Edit username" th:value="${user.username}">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mb-3">
                <label for="editEmail" class="form-label">Edit Email: </label>
                <input type="text" name="email" class="form-control" id="editEmail" placeholder="Edit email"
                       th:value="${user.email}">
            </div>
            <div class="mb-3">
                <label for="editPhone" class="form-label">Edit Phone: </label>
                <input type="text" name="phone" class="form-control" id="editPhone" placeholder="Edit phone"
                       th:value="${user.phone}">
            </div>
        </div>
    </div>
</form>
