<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome to my eCommerce app</h1>
        
        <p>To log in please click <a th:href="@{/login}">here</a> </p>
        
        <!--<p>Users please click <a th:href="@{/userPage}">here</a> to see a greeting.</p>
        
        <p>Admin please click <a th:href="@{/adminPage}">here</a> to see a greeting.</p>-->
    </body>
</html>
