<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <title>Registration Page</title>
    <link href="/eCommerce.css" th:href="@{/eCommerce.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1 class="text-center">Welcome to our registration Page</h1>
<h3 class="text-center">Please fill in the form to create account</h3>
<section class="h-100 h-custom gradient-custom-2">
    <form class="needs-validation" method="post" novalidate th:action="@{/user/add}" th:object="${user}">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color: #4835d4;">General Information</h3>
                                        <div class="mb-4 pb-2">
                                            <label>
                                                <select class="select form-control form-control-lg" name="gender"
                                                        required>
                                                    <option disabled selected value="">Title</option>
                                                    <option value="1">Mr.</option>
                                                    <option value="2">Ms.</option>
                                                    <div class="invalid-feedback">Please select your title</div>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input class="form-control form-control-lg" id="form3Examplev2" name="firstName"
                                                           pattern="[A-Z][a-z šđčćž]+"
                                                           required type="text"/>
                                                    <div class="invalid-feedback">Field should only be alphabetical and
                                                        start with capital letter
                                                    </div>
                                                    <label class="form-label" for="form3Examplev2">First name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input class="form-control form-control-lg" id="form3Examplev3" name="lastName"
                                                           pattern="[A-Z][a-z šđčćž]+"
                                                           required type="text"/>
                                                    <div class="invalid-feedback">Field should only be alphabetical and
                                                        start with capital letter
                                                    </div>
                                                    <label class="form-label" for="form3Examplev3">Last name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input class="form-control form-control-lg" id="form3Examplev4" name="username"
                                                           required type="text"/>
                                                    <div class="invalid-feedback">Please enter your username</div>
                                                    <label class="form-label" for="form3Examplev4">Username</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input class="form-control form-control-lg" id="form3Examplev5" name="password"
                                                           required type="password"/>
                                                    <div class="invalid-feedback">Please enter your password</div>
                                                    <label class="form-label" for="form3Examplev5">Password</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4 pb-2">
                                                <div class="form-outline">
                                                    <input class="form-control form-control-lg" id="form3Examplev6" name="dateOfBirth"
                                                           required type="date"/>
                                                    <div class="invalid-feedback">Please select your date of birth</div>
                                                    <label class="form-label" for="form3Examplev6">Date of Birth</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 bg-indigo text-white" style="background-color:#2a2fbf">
                                    <div class="p-5">
                                        <h3 class="fw-normal mb-5">Contact Details</h3>
                                        <div class="row">
                                            <div class="col-md-9 mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <input class="form-control form-control-lg" id="form3Examplea7" name="street"
                                                           pattern="[A-Z][a-z A-ZŠĐČĆŽšđčćž]+"
                                                           required type="text"/>
                                                    <div class="invalid-feedback">Field should only be alphabetical and
                                                        start with capital letter
                                                    </div>
                                                    <label class="form-label" for="form3Examplea7">Street</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <input class="form-control form-control-lg" id="form3Examplea8" name="number"
                                                           required type="number"/>
                                                    <div class="invalid-feedback">Please fill out this field.</div>
                                                    <label class="form-label" for="form3Examplea8">No.</label>
                                                </div>
                                            </div>
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <select class="form-control form-control-lg" data-live-search="true"
                                                            id="form3Example10" name="countryname" required>
                                                        <option disabled selected value="">Please select your country
                                                        </option>
                                                        <option value="1">Bosnia & Herzegovina</option>
                                                    </select>
                                                    <label class="form-label" for="form3Example10">Country</label>
                                                </div>
                                            </div>
                                            <div class="mb-4 pb-2">
                                                <div class="form-outline form-white">
                                                    <select class="form-control form-control-lg" data-live-search="true"
                                                            id="form3Example9" name="cityname" required>
                                                        <option disabled selected value="">Please select your City
                                                        </option>
                                                        <option th:each="city:${cities}"
                                                                th:text="${city.name}"
                                                                th:value="${city.idcity}">
                                                        </option>
                                                    </select>
                                                    <label class="form-label" for="form3Example9">City</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="form-outline form-white">
                                                <input class="form-control form-control-lg" id="form3Examplea12" name="phone"
                                                       pattern="[+][0-9]{11,15}"
                                                       required type="text"/>
                                                <div class="invalid-feedback">Please enter valid phone number. Format
                                                    ex. +38733456789
                                                </div>
                                                <label class="form-label" for="form3Examplea12">Phone Number</label>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <div class="form-outline form-white">
                                                <input class="form-control form-control-lg" id="form3Examplea13" name="email"
                                                       required type="email"/>
                                                <div class="invalid-feedback">Please enter valid e-mail address</div>
                                                <label class="form-label" for="form3Examplea13">Your Email</label>
                                            </div>
                                        </div>
                                        <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                            <label for="form2Example3c"></label>
                                            <input class="form-check-input me-3" id="form2Example3c" required
                                                   type="checkbox" value=""/>
                                            <div class="invalid-feedback">You have to agree in order to register</div>
                                            <label class="form-check-label text-white">
                                                I do accept the <a class="text-white" href="#"><u>Terms and
                                                Conditions</u></a> of your site.
                                            </label>
                                        </div>
                                        <button class="btn btn_primary btn-light btn-lg" data-mdb-ripple-color="dark"
                                                type="submit">Register
                                        </button>
                                    </div>
                                </div>
                                <p class="text-center mt-3 text-secondary">Already have account? Please <a
                                        href="/loginPage"> Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script type="text/javascript">

                        // Example starter JavaScript for disabling form submissions if there are invalid fields
                        (function () {
                            'use strict'

                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.querySelectorAll('.needs-validation')

                            // Loop over them and prevent submission
                            Array.prototype.slice.call(forms)
                                    .forEach(function (form) {
                                        form.addEventListener('submit', function (event) {
                                            if (!form.checkValidity()) {
                                                event.preventDefault()
                                                event.stopPropagation()
                                            }

                                            form.classList.add('was-validated')
                                        }, false)
                                    })
                        })()

</script>
</body>
</html>