<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" /> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div layout:fragment="content">

            <!--Content of the page-->


            <div class="container">
                <h2>Products</h2>
                
                <table class="table table-striped">
                    
                    <!--<thead>
                        <tr>
                            <th>City id</th>
                            <th>Name</th>
                            <th>Postal number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="city:${cities}">
                            <td th:text="${city.idcity}"></td>
                            <td th:text="${city.name}"></td>
                            <td th:text="${city.postalNumber}"></td>
                        </tr>
                        
                    </tbody>-->
                    
                    <thead>
                        <tr>
                            <th>Product id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product:${products}"><!--check for product in list products (model:${list}-->
                            <td th:text="${product.idproduct}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.quantity}"></td>
                            
                            <td>
                                <div class="btn-group">
                                
                                <a class="btn btn-success"
                                   >
                                    <i class="far fa-eye"></i></a>
                                <a class="btn btn-danger"
                                   onclick="return confirm('Are you sure you want to delete this record?')"
                                   th:href="@{'products/delete/'+${product.idproduct}}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </div>
                                
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
