<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/eCommerce.css" type="text/css"/>
    <link href="css/cards.css" rel="stylesheet" type="text/css"/>
    <title>User dashboard</title>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="eCommerce.js" type="text/javascript"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#4527A0;">
    <div class="container">
        <a class="navbar-brand" href="/home">
            <img src="/images/logoo.png" alt="logo" width="30" height="30">
        </a>
        <a href="/home" class="navbar-brand"> click<span class="text-warning">SHOP</span> </a>
        <div class="collapse navbar-collapse" id="navmenu" style="color:#f0ad4e;">
            User Dashboard
        </div>
    </div>
</nav>
<div class="col">
    <ul class="nav nav-tabs" id="myCategories" role="tablist">
        <li class="nav-item" th:each="category:${categories}" role="presentation">
            <button class="nav-link" th:id="${category.name}+'-tab'" data-bs-toggle="tab"
                    th:data-bs-target=" '#' + ${category.name}" type="button"
                    role="tab" th:aria-controls="${category.name}" aria-selected="false"
                    th:text="${category.name}" th:data-bs-id="${category.idproductCategory}">
            </button>
        </li>
    </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active"
             th:id="${category.name}" role="tabpanel"
             th:aria-labelledby="${category.name}+'-tab'"
             th:each='category:${categories}'>
            <div class="container mb-5 mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div th:each="product:${category.productList}">
                            <div class="card h-100" th:fragment="productCard">
                                <div class="card-body">
                                    <h4 class="card-title" th:text="${product.name}"></h4>
                                    <h5 th:text="${product.price}"></h5>
                                    <p class="card-text" th:text="${product.description}"></p>
                                    <a class="btn btn-warning btn-sm"
                                       th:href="@{'/shoppingCart/addProduct/'+${product.idproduct}}">
                                        <span class="add-to-cart">Add to cart</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script>
        addToCartButton = document.querySelectorAll(".add-to-cart-button");
        document.querySelectorAll('.add-to-cart-button').forEach(function (addToCartButton) {
            addToCartButton.addEventListener('click', function () {
                addToCartButton.classList.add('added');
                setTimeout(function () {
                    addToCartButton.classList.remove('added');
                }, 2000);
            });
        });
    </script>

</body>
</html>