<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
    </head>
    <body>
        



<table
  id="table"
  data-toggle="table"
  data-url="http://localhost:8080/user/add">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="name">First Name</th>
      <th data-field="price">Last Name</th>
      <th data-field="name">Username</th>
      <th data-field="price">Email</th>
      <th data-field="name">Gender</th>
      <th data-field="price">Phone</th>
    </tr>
  </thead>
</table>
    </body>
</html>
